/* IMPOSTAZIONI DI SISTEMA */
:root{
    --dark: #0A0908;
    --main-color: #EAE0D5;
    --header: #C6AC8F;
    --yellow: #e7bb1c;  
    --footer: #5E503F;
    --green: #008000;
}
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

.bg-transparent{
    background-color: transparent;
}

.box{
    height: 400px;
}
.vh-40{
    height: 40vh;
}
.bg-DARK{
    background-color: var(--dark);
}
.bg-header{
    background-color: var(--header);
}
.bg-main{
    background-color: var(--main-color);
}
.bg-footer{
    background-color: var(--footer);
}
.bg-header-img{
    background-image: linear-gradient(0deg, var(--main-color) 0%, rgba(234,224,213,0) 30%, rgba(234,224,213,0) 60%, var(--main-color) 100%), url('/public/image/header.jpg');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
.bg-index-img{
    background-image: linear-gradient(0deg, var(--main-color) 0%, rgba(234,224,213,0) 30%, rgba(234,224,213,0) 60%, var(--main-color) 100%), url('/public/image/header-index.jpg');
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.bg-safety-img{
    background-image: linear-gradient(0deg, var(--main-color) 0%, rgba(234,224,213,0) 30%, rgba(234,224,213,0) 60%, var(--main-color) 100%), url('/public/image/sicurezza1.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.bg-card{
    background-color: rgb(240, 240, 240);
}

/* DYNAMIC NAVBAR HUMBURGER */
/* Remove border from toggler */
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: var(--yellow);
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: white;
}

/* NAVBAR DROPDOWN COLORATION */
.colorOption{
    transition: background-color 0.2s ease;
}
.colorOption:hover{
    background-color: var(--yellow);
}

/* HOME ICON HOVER COLORATION */
.colorIcon{
    color: black;
    transition: color 0.2s ease;
}
.colorIcon:hover{
    color: rgb(223, 0, 7);
}

/* LIGHT and DARK MODE SWITCH */
.fa-moon{
    transition: scale 0.2s ease;
}
.fa-moon:hover{
    scale: 1.22;
}

.lightMode{
    background-color: var(--main-color);
    color: var(--dark);
    transition: all 0.1s;
}

.yellow{
    background-color: var(--yellow);
}
.overflows{
    overflow-x: hidden;
    overflow-y: hidden;
}

.font-title{
    font-family: 'Righteous', cursive;
}


.font-standard{
    font-family: 'Play', sans-serif;
}

.gradient-custom-home {
    background: -webkit-linear-gradient(to bottom, var(--header), #eae0d5bb);
    background: linear-gradient(to bottom, var(--header), #eae0d5bb);
}
.gradient-custom-index {
    background: -webkit-linear-gradient(to top, #eae0d5bb, #eae0d500, #eae0d5bb);
    background: linear-gradient(to top, #eae0d5bb, #eae0d500, #eae0d5bb);
}
.gradient-custom-index2 {
    background: -webkit-linear-gradient(to top, #a585114f, #eae0d5bb);
    background: linear-gradient(to top, #a585114f, #eae0d5bb);
}

/* LOADING BAR */
.loadBar{
    position:absolute;
    display:flex;
    bottom:0px;
    width:60%;
    height: 0px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, #eadeda43, var(--yellow)) 1;
    animation: load;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
}
@keyframes load {
    0%{
        transform: translateX(-1450px);
    }
    35%{
        transform: translateX(+50px);
    }
    50%{
        transform: translateX(+150px);
    }
    100%{
        transform: translateX(+1050px);
    }
}

.btn.yellow{
    background-color: var(--yellow)!important;
    transition: scale 0.2s ease;
}
.btn.yellow.zoomButton:hover{
    scale: 1.12;
}

.btn.green{
    color:black;
    background-color: var(--green)!important;
    transition: scale 0.2s ease;
}
.btn.green:hover{
    color:black;
    scale: 1.12;
}

.slideCardFromLeft{
    animation: slideCardFromLeft;
    animation-timing-function: ease;
    animation-duration: 5s;
}
@keyframes slideCardFromLeft {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.slideCardFromRight{
    animation: slideCardFromRight both; 
    animation-duration: 1.78s;
}
@keyframes slideCardFromRight {
    from{
        opacity: 0;
        transform: translateX(+100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


/* AUTOMATIC HIDING ANIMATION */
.hideAlert{
    z-index:3;
    position: fixed;
    right:0px;
    top:90px;  
    animation: hideAlert;
    animation-duration: 2s;
    animation-delay: 3s;
}
@keyframes hideAlert{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(-100px);
    }
}

/* AUTOMATIC X SCROLL OF CARDS WITH ZOOM AND ALL THE OTHER GOOD THINGS*/
.singleCard{
    transition: scale 0.2s ease-out, filter 1.2s ease;
    overflow: hidden;
    z-index: 1;
}

.blurAllCards{ 
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.singleCard:hover{
    z-index: 2;
    scale: 1.05;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.notransition{
    transition: none !important;
}

/* CARD */
.card-image img {
    max-height: 100%;
    max-width: 100%;
    /* border-radius: 8px 8px 0px 0; */
}
.card-heading {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
}
.card-text {
    padding: 10px 15px;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
}
.card-button:hover {
    text-decoration: none;
    background-color: #1D3461;
    color: #fff;
}

/* SWIPER */
.swiper-slide {
    text-align: center;
    font-size: 18px;
/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.mySwiper2 {
    height: 80%;
    width: 100%;
}
.mySwiper {
    max-width: 60%;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
}
.mySwiper .swiper-slide {
    height: 100%;
    opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
    opacity: 1; 
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SCROLL TO TOP BUTTON */
.topBtnYellow{
    color: var(--yellow);
    position: fixed;
    right:6px;
    bottom:40px;    
    font-size: 3rem;
    animation: pulse;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transition: scale 0.2s ease;
    z-index: 2;
}

@keyframes pulse{
    0%{
        color: var(--yellow);
    }
    10%{
        color: #1F487E;
    }
    15%{
        color: var(--yellow);
    }
    30%{
        color: #1F487E;
    }
    100%{
        color: var(--yellow);
    }
}

.topBtnYellow:hover{
    animation-play-state: paused;
    scale: 1.2;
    color: #1F487E !important;
}

.imgFooter{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.400), rgb(0, 0, 0)), url(/public/image/footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    width:100%;
    height:70vh;   
}

.brdFooterDivisor{
    height: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #eadeda00, white, #eadeda00) 1;
}

.headerBorder{
    border-bottom: 1px solid black;
    width:58%;
}

.listingCard{
    border-radius:0px;
}

.rotationStyling{
    font-size: 10rem;
    position:absolute;
    right:-251px;
    bottom:225px;
    transform: rotate(270deg);
    opacity:0.1;
}

.angleLeft{
    border-radius: 10px 0px 0px 10px;    
}

.angleRight{
    border-radius: 0px 10px 10px 0px;    
}

.img-preview{
    background-color: var(--main-color);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.border-yellow{
    border: 2px solid var(--yellow);
}

/* Next & previous buttons */
.scrollLeft, .scrollRight {
    color: var(--yellow);
    font-weight: bold;
    transition: 0.2s ease;
  }
  
/* Position the "next button" to the right */
.scrollLeft {
    border-radius: 0 3px 3px 0;
}

.scrollRight {
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.scrollLeft:hover, .scrollRight:hover {
    scale: 1.2;
    color: #1F487E !important;
}

/* The dots/bullets/indicators */
.dot {
    font-size: 0px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--yellow);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active2, .dot:hover {
    background-color: #1F487E !important;
  }

  .FADE{
    animation-name: fadeMapCard;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes fadeMapCard {
    from{
        opacity: 0;
        scale: 1.35;
    } 
    to{
        opacity: 1;
        scale: 1;
    }
  }